<div class="contents-container">
  Save a video
  <form method="POST" action="/videos">
    <input name="title" id="video-title" />
    <textarea name="description" id="video-description"></textarea>
    <input type="submit" />
  </form>
</div>
